	<!-- Start About -->
	<div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img src="/images/img-04.jpg" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 text-center">
					<div class="inner-column">
						<h1>BARBER SHOP <span> IsaacDSC</span></h1>
						<h4>O MELHOR BARBER SHOP</h4>
						<p>ESPAÇO MASCULINOS PARA AQUELES QUE BUSCAM CONFORTO, QUALIDADE E VALOR ACESSÍVEL</p>
						<p>VENHA CONHECER AGORA!</p>
						<a class="btn btn-lg btn-circle btn-outline-new-white" href="{{hisHome.dataValues.url_btn}}">AGENDAMENTO</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->
	
	<!-- Start QT -->
	<div class="qt-box qt-background">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-left">
					<p class="lead ">
						{{hisHome.dataValues.vision_mission}}
					</p>
					<span class="lead">{{hisHome.dataValues.author}}</span>
				</div>
			</div>
		</div>
	</div>
	<!-- End QT -->