<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html itemscope="" itemtype="http://schema.org/LocalBusiness">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>FeDuarte Beauty - Agendamento online - FeDuarte Beauty - Reservio</title>

    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="date=no">
    <meta name="author" content="Reservio, s.r.o. [reservio.com]">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <meta property="og:title" content="FeDuarte Beauty - Agendamento online">
    <meta property="og:type" content="website">


    <meta property="og:url" content="https://feduarte-beauty.reservio.com/">

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.br"
        nonce="S8KsmzHG58gJS4wxsJggjQ=="></script>

    <link rel="stylesheet" href="https://cdn.reservio.com/reservio2-minipage/2.5.237/minipage.css" />
    <script nonce="S8KsmzHG58gJS4wxsJggjQ=="
        src="https://cdn.reservio.com/reservio2-minipage/2.5.237/minipage.js"></script>

    <link rel="apple-touch-icon" sizes="180x180"
        href="//cdn.reservio.com/reservio2-minipage/2.5.237/favicon/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/png" href="//cdn.reservio.com/reservio2-minipage/2.5.237/favicon/favicon.ico">
    <link rel="icon" type="image/png" href="//cdn.reservio.com/reservio2-minipage/2.5.237/favicon/favicon-32x32.png"
        sizes="32x32">
    <link rel="icon" type="image/png" href="//cdn.reservio.com/reservio2-minipage/2.5.237/favicon/favicon-16x16.png"
        sizes="16x16">
    <link rel="manifest" href="//cdn.reservio.com/reservio2-minipage/2.5.237/favicon/site.webmanifest">
    <link rel="mask-icon" href="//cdn.reservio.com/reservio2-minipage/2.5.237/favicon/safari-pinned-tab.svg"
        color="#be2226">
    <meta name="theme-color" content="#ffffff">


    <script nonce="S8KsmzHG58gJS4wxsJggjQ==">
        (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-31696359-5');
        ga('send', 'pageview');
    </script>



</head>

<body class=" template-default">

        {{{body}}}

</body>
</html>