<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html itemscope="" itemtype="http://schema.org/LocalBusiness">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Site com Agendamento</title>

    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="date=no">
    <meta name="author" content="Reservio, s.r.o. [reservio.com]">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta property="og:title" content="Site com Agendamento">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://feduarte-beauty.reservio.com/">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/demo.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="https://cdn.reservio.com/reservio2-minipage/2.5.237/minipage.css" />
    <link rel="apple-touch-icon" sizes="180x180"
        href="//cdn.reservio.com/reservio2-minipage/2.5.237/favicon/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/png" href="//cdn.reservio.com/reservio2-minipage/2.5.237/favicon/favicon.ico">
    <link rel="icon" type="image/png" href="//cdn.reservio.com/reservio2-minipage/2.5.237/favicon/favicon-32x32.png"
        sizes="32x32">
    <link rel="icon" type="image/png" href="//cdn.reservio.com/reservio2-minipage/2.5.237/favicon/favicon-16x16.png"
        sizes="16x16">
    <link rel="manifest" href="//cdn.reservio.com/reservio2-minipage/2.5.237/favicon/site.webmanifest">
    <link rel="mask-icon" href="//cdn.reservio.com/reservio2-minipage/2.5.237/favicon/safari-pinned-tab.svg"
        color="#be2226">
    <meta name="theme-color" content="#ffffff">






</head>

<body class=" template-default">

    {{{body}}}


    <script src="/js/bootstrap.min.js"></script>
    <!-- adionando CDN Fonte-awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/brands.min.js"></script>
    <!-- adionando CDN JQuery -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Todos os arquivos JS -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.br"
        nonce="S8KsmzHG58gJS4wxsJggjQ=="></script>

    <script nonce="S8KsmzHG58gJS4wxsJggjQ=="
        src="https://cdn.reservio.com/reservio2-minipage/2.5.237/minipage.js"></script>    
    <script src="/js/images-loded.min.js"></script>
    <script src="/js/slideshow.js"></script>
    <script>
        function slide1(){
           alert('ok')
        }
    </script>
</body>

</html>