<img height="1" width="1" src="https://www.facebook.com/tr?id=1335832159881227&ev=PageView" style="display:none;" />

<div class="navbar navbar--transparent navbar--scrollFixed">
    <div class="navbar-content">
        <h1 class="logo logo-button logo-long ">
            <!-- TODO: if is name of business so long, add to class "logo-long" -->
            <span class="logo-button-title">
                <span itemprop="name">FeDuarte Beauty</span>
            </span>
        </h1>

        <p class="menu-button">
            <button class="btn btn-flat">
                <i class="icon">
                    <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                    </svg>
                </i>Menu
            </button>
        </p>

        <ul class="menu-main">
            <li class="menu-main-item">
                <a href="https://feduarte-beauty.reservio.com#services" class="menu-main-link">Serviços</a>
            </li>


            <li class="menu-main-item">
                <a href="https://feduarte-beauty.reservio.com#contact" class="menu-main-link">Contato</a>
            </li>

            <li class="menu-main-item">
                <a href="/client/login" class="menu-main-link">Entrar</a>
            </li>

            <li class="menu-main-item menu-main-item-booking">
                <a href="/booking" class="btn btn-booking menu-main-link">Agendar</a>
            </li>

        </ul>
    </div>
</div>

<div class="content">
    <div class="part-intro">
        <div class="part-intro-bg" id="map-header"></div>
        <div class="part-intro-inner">
            <div class="part-intro-content">
                <p class="part-intro-logo">
                </p>
                <p class="part-intro-claim">

                </p>
                <p class="part-intro-button">
                    <a href="/booking" class="btn btn-booking">
                        Agendar
                    </a>
                </p>
            </div>
            <div class="part-intro-buttonDown">
                <a href="#content" class="btn btn-flat btn-ico">
                    <i class="icon">
                        <svg fill="#000000" height="18" viewBox="0 0 24 24" width="18"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"></path>
                            <path d="M0-.75h24v24H0z" fill="none"></path>
                        </svg>
                    </i>
                </a>
            </div>
        </div>

    </div>

    <div id="content">
        <div class="part-services js-part-services" id="services">
            <div class="container container-small">
                <h2 class="part-title">Serviços</h2>

                <ul class="list list--hover list-biggerPadding list-services js-services">
                    <li class="list__item js-service">
                        <a href="/booking?businessId=dcce8960-831c-4091-aae8-47649e52546d&amp;serviceId=f337337d-6caa-4354-89b2-cfa81da07e45&amp;resourceId=0a89755c-7aeb-41a4-b59b-923356b7e7d5"
                            class="list__inner">
                            <div class="list__itemHeader">
                                <div class="list__itemHeaderContent">
                                    Micropigmentação esfumada
                                </div>
                                <div class="list__itemHeaderRight">
                                    <span class="wsnw">
                                        150,00 BRL
                                    </span>
                                </div>
                            </div>
                            <div class="list__itemBody">
                                técnica de esfumagem tipo tatuagem com duração de 1 ano
                            </div>
                        </a>
                    </li>
                    <li class="list__item js-service">
                        <a href="/booking?businessId=dcce8960-831c-4091-aae8-47649e52546d&amp;serviceId=c56fb057-29e5-40ab-abca-d38a011f8702&amp;resourceId=0a89755c-7aeb-41a4-b59b-923356b7e7d5"
                            class="list__inner">
                            <div class="list__itemHeader">
                                <div class="list__itemHeaderContent">
                                    Micropigmentação fio a fio
                                </div>
                                <div class="list__itemHeaderRight">
                                    <span class="wsnw">
                                        200,00 BRL
                                    </span>
                                </div>
                            </div>
                            <div class="list__itemBody">
                                fios naturais
                            </div>
                        </a>
                    </li>
                    <li class="list__item js-service">
                        <a href="/booking?businessId=dcce8960-831c-4091-aae8-47649e52546d&amp;serviceId=7b1439b6-7d22-4031-9c21-34c12fd93794&amp;resourceId=0a89755c-7aeb-41a4-b59b-923356b7e7d5"
                            class="list__inner">
                            <div class="list__itemHeader">
                                <div class="list__itemHeaderContent">
                                    Retoque esfumada
                                </div>
                                <div class="list__itemHeaderRight">
                                    <span class="wsnw">
                                        80,00 BRL
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="list__item js-service">
                        <a href="/booking?businessId=dcce8960-831c-4091-aae8-47649e52546d&amp;serviceId=7b4c5b8f-7ce8-4e07-aa3f-df098ae205c7&amp;resourceId=0a89755c-7aeb-41a4-b59b-923356b7e7d5"
                            class="list__inner">
                            <div class="list__itemHeader">
                                <div class="list__itemHeaderContent">
                                    Retoque fio a fio
                                </div>
                                <div class="list__itemHeaderRight">
                                    <span class="wsnw">
                                        100,00 BRL
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="list__item js-service">
                        <a href="/booking?businessId=dcce8960-831c-4091-aae8-47649e52546d&amp;serviceId=22c82974-c56e-40da-83ac-9bdbe493fe46&amp;resourceId=0a89755c-7aeb-41a4-b59b-923356b7e7d5"
                            class="list__inner">
                            <div class="list__itemHeader">
                                <div class="list__itemHeaderContent">
                                    Micropigmentação híbrida
                                </div>
                                <div class="list__itemHeaderRight">
                                    <span class="wsnw">
                                        250,00 BRL
                                    </span>
                                </div>
                            </div>
                            <div class="list__itemBody">
                                técnica que junta fios e esfumado.
                                mantendo um acabamento perfeito.
                            </div>
                        </a>
                    </li>
                    <li class="list__item js-service">
                        <a href="/booking?businessId=dcce8960-831c-4091-aae8-47649e52546d&amp;serviceId=1cbb7c3a-2d14-4ed0-9f35-dc1fd53bd72c&amp;resourceId=0a89755c-7aeb-41a4-b59b-923356b7e7d5"
                            class="list__inner">
                            <div class="list__itemHeader">
                                <div class="list__itemHeaderContent">
                                    Designer de sobrancelha
                                </div>
                                <div class="list__itemHeaderRight">
                                    <span class="wsnw">
                                        30,00 BRL
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="list__item js-service">
                        <a href="/booking?businessId=dcce8960-831c-4091-aae8-47649e52546d&amp;serviceId=b94931ec-f449-4bb5-931c-f3f012b649f0&amp;resourceId=0a89755c-7aeb-41a4-b59b-923356b7e7d5"
                            class="list__inner">
                            <div class="list__itemHeader">
                                <div class="list__itemHeaderContent">
                                    Luzes
                                </div>
                                <div class="list__itemHeaderRight">
                                    <span class="wsnw">
                                        150,00 BRL
                                    </span>
                                </div>
                            </div>
                            <div class="list__itemBody">
                                á partir
                            </div>
                        </a>
                    </li>
                    <li class="list__item js-service">
                        <a href="/booking?businessId=dcce8960-831c-4091-aae8-47649e52546d&amp;serviceId=5ed3514c-0898-4fb2-8ac5-b955bbfcadd4&amp;resourceId=0a89755c-7aeb-41a4-b59b-923356b7e7d5"
                            class="list__inner">
                            <div class="list__itemHeader">
                                <div class="list__itemHeaderContent">
                                    Alongamento de cilios fio a fio
                                </div>
                                <div class="list__itemHeaderRight">
                                    <span class="wsnw">
                                        70,00 BRL
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="list__item js-service">
                        <a href="/booking?businessId=dcce8960-831c-4091-aae8-47649e52546d&amp;serviceId=a3318df3-84c7-4c1b-b5cd-29f0ec80feba&amp;resourceId=0a89755c-7aeb-41a4-b59b-923356b7e7d5"
                            class="list__inner">
                            <div class="list__itemHeader">
                                <div class="list__itemHeaderContent">
                                    Alongamento de cilios volume hibrido
                                </div>
                                <div class="list__itemHeaderRight">
                                    <span class="wsnw">
                                        120,00 BRL
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="list__item js-service">
                        <a href="/booking?businessId=dcce8960-831c-4091-aae8-47649e52546d&amp;serviceId=ae18e682-cc08-4d36-9a90-8f136e7371e7&amp;resourceId=0a89755c-7aeb-41a4-b59b-923356b7e7d5"
                            class="list__inner">
                            <div class="list__itemHeader">
                                <div class="list__itemHeaderContent">
                                    Alongamento de Cílios Mega Volume
                                </div>
                                <div class="list__itemHeaderRight">
                                    <span class="wsnw">
                                        170,00 BRL
                                    </span>
                                </div>
                            </div>
                            <div class="list__itemBody">
                                á partir
                            </div>
                        </a>
                    </li>
                    <li class="list__item js-service">
                        <a href="/booking?businessId=dcce8960-831c-4091-aae8-47649e52546d&amp;serviceId=6eaa6901-88fe-44c9-bae1-f1d5c7af43e4&amp;resourceId=0a89755c-7aeb-41a4-b59b-923356b7e7d5"
                            class="list__inner">
                            <div class="list__itemHeader">
                                <div class="list__itemHeaderContent">
                                    Micropigmentação labial
                                </div>
                                <div class="list__itemHeaderRight">
                                    <span class="wsnw">
                                        200,00 BRL
                                    </span>
                                </div>
                            </div>
                            <div class="list__itemBody">
                                revitalização dos lábios
                            </div>
                        </a>
                    </li>
                    <li class="list__item js-service">
                        <a href="/booking?businessId=dcce8960-831c-4091-aae8-47649e52546d&amp;serviceId=aab74da8-410e-4afa-9127-39e26c9935c0&amp;resourceId=0a89755c-7aeb-41a4-b59b-923356b7e7d5"
                            class="list__inner">
                            <div class="list__itemHeader">
                                <div class="list__itemHeaderContent">
                                    Maquiagem definitiva
                                </div>
                                <div class="list__itemHeaderRight">
                                    <span class="wsnw">
                                        150,00 BRL
                                    </span>
                                </div>
                            </div>
                            <div class="list__itemBody">
                                delineado nos olhos parte superior ou inferior
                            </div>
                        </a>
                    </li>
                </ul>
                <p class="button-more js-services-showMore">
                    <button class="btn btn-border">Mostrar mais</button>
                </p>
            </div>
        </div>


        <hr>
        <div class="part-contact" id="contact" data-value="Rua São Geraldo 100, Santa Izabel, Brazil">
            <iframe class="part-contact-map" frameborder="0"
                src="https://www.google.com/maps/embed/v1/place?q=Rua São Geraldo 100, Santa Izabel, Brazil&key=AIzaSyAVzwSzTva05gk0AVrg4apClYuWyaeSdNY"
                allowfullscreen></iframe>
            <div class="part-contact-filling"></div>
            <div class="part-contact-inner">
                <div class="container container-small">
                    <div class="part-contact-box part-contact-box-data">
                        <h2 class="part-contact-title">Contato</h2>
                        <p class="part-contact-address" itemprop="address" itemscope=""
                            itemtype="http://schema.org/PostalAddress">
                            <i class="icon">
                                <svg fill="#ffffff" height="18" viewBox="0 0 24 24" width="24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z">
                                    </path>
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                </svg>
                            </i>
                            <a href="https://www.google.cz/maps/search/Rua São Geraldo 100, Santa Izabel, Brazil/"
                                target="_blank">
                                <span class="part-contact-addressLine">
                                    <strong>FeDuarte Beauty</strong>
                                </span>
                                <span class="part-contact-addressLine" itemprop="streetAddress">
                                    Rua São Geraldo 100
                                </span>
                                <span class="part-contact-addressLine" itemprop="addressLocality">
                                    Santa Izabel
                                </span>
                                <span class="part-contact-addressLine" itemprop="addressCountry">
                                    Brazil
                                </span>
                                <span class="part-contact-addressLine" itemprop="addressNote">

                                </span>
                            </a>
                        </p>

                        <p class="part-contact-phone">
                            <i class="icon">
                                <svg fill="#ffffff" height="18" viewBox="0 0 24 24" width="18"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path
                                        d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z">
                                    </path>
                                </svg>
                            </i>
                            <a href="tel:24999125681" itemprop="telephone">24999125681</a> <br>
                        </p>


                    </div>

                    <div class="part-contact-box part-contact-box-hours">
                        <h2 class="part-contact-title">Horário de funcionamento</h2>
                        <div class="part-contact-box-inner">
                            <i class="icon">
                                <svg fill="#000000" height="18" viewBox="0 0 24 24" width="18"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z">
                                    </path>
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                                </svg>
                            </i>
                            <table>
                                <tr>
                                    <th>
                                        Domingo
                                    </th>
                                    <td>8:00
                                        - 13:00</td>
                                </tr>
                                <tr>
                                    <th>
                                        Segunda-feira
                                    </th>
                                    <td>8:00
                                        - 20:00</td>
                                </tr>
                                <tr>
                                    <th>
                                        Terça-feira
                                    </th>
                                    <td>8:00
                                        - 20:00</td>
                                </tr>
                                <tr>
                                    <th>
                                        Quarta-feira
                                    </th>
                                    <td>8:00
                                        - 20:00</td>
                                </tr>
                                <tr>
                                    <th>
                                        Quinta-feira
                                    </th>
                                    <td>8:00
                                        - 20:00</td>
                                </tr>
                                <tr>
                                    <th>
                                        Sexta-feira
                                    </th>
                                    <td>8:00
                                        - 20:00</td>
                                </tr>
                                <tr>
                                    <th>
                                        Sábado
                                    </th>
                                    <td>8:00
                                        - 20:00</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container container-small">
        <p class="footer-copyright">
            Direitos autorais 2012 - 2020 Reservio. Todos os direitos reservados.
        </p>
    </div>
</div>